server {
    listen 80;
    server_name {{domain}} www.{{domain}};
    root /var/www/{{ site_name }}/public_html;

    index index.html index.htm index.php;

    location / {
        try_files $uri $uri/ /index.php?$args;
    }

    location ~ \.php$ {
        include snippets/fastcgi-php.conf;
        fastcgi_pass unix:/run/php/php7.4-{{ site_name }}-fpm.sock;
     }

    location ~ /\.ht {
        deny all;
    }

    location ~ /\.user.ini {
        deny all;
    }
}
